*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading {
    color: rebeccapurple;
    padding: 1em 0;
}
.container a {
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.container li {
    list-style: none;
}
main{
    width: 700px;
    margin: auto;
}
@media (max-width: 768px) {
    .container main{
        width: 70%;
        margin: 5em auto;
    } 
}